:root {
    --tg-theme-bg-color: #17212B;
    --tg-theme-text-color: #FFF;
    --tg-theme-secondary-bg-color: #232E3C;
    --tg-theme-hint-color: #708498;
    --tg-theme-button-color: #5288C1;
}

body {
    background-color: var(--tg-theme-bg-color);
}

.header {
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 8px;
}

.miner {
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 8px;
}

.miner > img {
    width: 100%;
}

.text {
    color: var(--tg-theme-text-color);
}

.text2 {
    color: var(--tg-theme-hint-color);
}

.welcome {
    color: var(--tg-theme-hint-color);
}

.icon {
    max-width: 30%;
}

.name {
    color: var(--tg-theme-button-color);
}

.btn-tg {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-text-color);
}