body {
    background-color: var(--tg-theme-bg-color);
}

.miner {
    background-color: var(--tg-theme-secondary-bg-color);
}

.miner > img {
    width: 100%;
}

.text {
    color: var(--tg-theme-text-color);
}

.welcome {
    color: var(--tg-theme-hint-color);
    background-color: var(--tg-theme-header-bg-color);
}