/* :root {
    --tg-theme-bg-color: #17212B;
    --tg-theme-text-color: #FFF;
    --tg-theme-secondary-bg-color: #232E3C;
    --tg-theme-hint-color: #708498;
} */

body {
    background-color: var(--tg-theme-bg-color);
}

.header {
    background-color: var(--tg-theme-secondary-bg-color);
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 8px;
}

.miner {
    background-color: var(--tg-theme-secondary-bg-color);
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 8px;
}

.miner > img {
    width: 100%;
}

.text {
    color: var(--tg-theme-text-color);
}

.welcome {
    color: var(--tg-theme-hint-color);
    margin-top: 1.2em;
    /* background-color: var(--tg-theme-header-bg-color); */
}

.icon {
    max-width: 30%;
    /* margin-bottom: -3px; */
}